* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  height: 70vh;
  border: 1px solid green;
}
svg {
  border: 1px solid red;
  overflow: visible;
}
